/* font-family: 'Montserrat', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #faf8f8;
    --title-background-color: #faf8f8;
    --form-input-text-color: white;
    --span-text-color:  #ff7733;
    --line-through-color: #ff7733;
    --primary-text-color: #000106;
    --shadow-color: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.dark-mode {
    --background-color: #000106;
    --primary-text-color: white;
    --title-background-color: #ff7733;
    --span-text-color: #000106;
    --line-through-color: white;
}

body {
    background-color: var(--background-color);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    height: 100vh;
}
.header {
    display: inline-flex;
    justify-content: flex-end;
}

#dark-mode-toggle {
    background-color: transparent;
    border: none;
}

.app, .header {
    width: 90%;
}

.title {
    background-color: var(--title-background-color);
    box-shadow: var(--shadow-color);
    border-radius: .5rem .5rem 0 0;
    text-align: center;
    color: var(--primary-text-color);
}
.app h1 {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0;
    font-size: 40px;
}

#span {
    color: var(--span-text-color);
}

.app p {
    font-size: 12px;
}

.app form {
    display: flex;
    width: 100%;
    /* background-color: #262e4c; */
    /* border: 1px solid red; */
}

.app form input {
    font-size: 18px;
    width: 90%;
    padding: 10px;
    border: none;
    color: var(--primary-text-color);
    color: var(--form-input-text-color);
    /* background-color: #3c4979; */
    background-color: rgb(29, 28, 28);
}

.app form input::placeholder {
    color: var(--background-color);
}

.swal2-styled.swal2-confirm {
    background-color: #ff7733;
}

.app form input {
    outline: none;
}

.app form button {
    cursor: pointer;
    width: 10%;
    height: 42px;
    /* color: var(--primary-text-color); */
    color: red;
    /* box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    background-color: white;
    font-weight: 600;
    font-size: 25px;
    border: none;
}

.app form button:hover {
    background-color: #ff7733;
}

.app ul {
    list-style: none;
    padding: 0;
    color: #e0e0e0;
    border: 1px solid greenyellow;
}


.app ul li {
    padding: 10px;
    border-bottom: 1px solid  #3a4674;
    background-color: var(--background-color);
    box-shadow: var(--shadow-color);
}

.check {
    width: 0.8em;
    height: 00.8em;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--primary-text-color);
    -webkit-appearance: none;
    border: 1px solid rgb(255, 255, 255);
}

.check:checked {
    background-color:  #FF69B4;
}

.task {
    padding: 10px 0;
    font-size: 18px;
    border: none;
    color: var(--primary-text-color);
    background: transparent;
    margin-left: 4px;
    
}

.task:focus {
    outline: none;
}

.app ul li i {
    float: right;
    cursor: pointer;
    margin-top: 14px;
    color: var(--primary-text-color);
    font-size: 20px;
}

.app ul li i:hover {
    color: rgb(255, 82, 82);
}

.completed {
    color: var(--line-through-color);
    text-decoration: line-through;
}

@media screen and (min-width: 768px){
    .app, .header {
        width: 60%;
    }
    .app p {
        font-size: 18px;
    }
}